{:kotoba.app/id "cloud.itonami.isic-9602", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreier5h5wwn4srydljjfrifeeqzrtvmq7emylwkagbpm4tcxpzw6pb4", :kotoba.app/embed-url "ipfs://bafkreier5h5wwn4srydljjfrifeeqzrtvmq7emylwkagbpm4tcxpzw6pb4", :published {:archive "https://kotobase.net/ipfs/bafkreier5h5wwn4srydljjfrifeeqzrtvmq7emylwkagbpm4tcxpzw6pb4", :size 74728, :put-status 201, :get-status 200, :at "2026-08-15T13:46:39.674Z"}}
